// ==========================================================================
// Config
// ==========================================================================

// --------------------------------------------------------------------------
// Colours
// --------------------------------------------------------------------------

$brand-color-a: #da513d;
$brand-color-b: #0096ff;
$brand-color-c: #222;

$text-color: #4a4a4a;

// --------------------------------------------------------------------------
// Typography
// --------------------------------------------------------------------------

$font-family-sans: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Proxima Nova', Helvetica, Arial, sans-serif;
$font-family-headings: 'Proxima Nova', Helvetica, Arial, sans-serif;
