
{% set meetupVenue = meetup.meetupVenue.first() %}

<div class="meetup-preview">
    <h3 class="meetup-preview__heading">{{ meetup.title }}</h3>
    <p class="meetup-preview__description">{{ meetup.meetupShortDescription }}</p>
    <hr class="hr hr--sm">
    <ul class="meetup-details">
        <li><span class="icon ion-ios-calendar-outline"></span> {{ meetup.meetupDate }}</li>
        {% if meetupVenue|length %}
            <li><span class="icon ion-ios-location-outline"></span> {{ meetupVenue.title }}</li>
        {% endif %}
    </ul>
    {% if meetup.meetupTakenPlace %}
        <a href="{{ meetup.url }}" class="btn btn--sm btn--default">Read the recap &rarr;</a>
    {% else %}
        <a href="{{ meetup.url }}" class="btn btn--sm btn--default">Find out more &rarr;</a>
    {% endif %}
</div>
