<footer class="site-footer">
    <div class="container">
        <p>Craft CMS Manchester is organised by <a href="https://twitter.com/itsSW" target="_blank">Scott Wakefield</a> &amp; <a  href="https://twitter.com/hannahrowb" target="_blank">Hannah Rowbotham</a> from <a href="https://clubstudio.co.uk" title="Web Design &amp; Development Manchester">Club Studio</a> and is not affiliated in any way with <a href="https://pixelandtonic.com" rel="nofollow">Pixel &amp; Tonic</a>.</p>
        <p>&copy; {{ now|date('Y') }} Club Studio Ltd. All rights reserved.</p>
    </div>
</footer>
