{% extends "_layouts/master" %}

{% set previousMeetups = craft.entries.section('meetups').find() %}

{% block content %}
    <article>
        <header class="page-intro">
            <div class="container">
                <h1 class="page-intro__heading">All Meetups</h1>
                <p class="page-intro__description">Catch up on the previous Craft CMS Manchester meetups.</p>
            </div>
        </header>
        <div class="page-content page-content--home">
            <div class="container">
                <ul class="meetups-list meetups-list--focal">
                    {% for meetup in previousMeetups %}
                        <li class="meetups-list__item">
                            {% include 'meetups/_components/meetup-preview' ignore missing with { meetup: meetup } only %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
{% endblock %}
