{% extends "_layouts/master" %}

{% set previousMeetups = craft.entries.section('meetups').find() %}

{% block content %}

    <article>

        <header class="page-intro">
            <div class="container">
                <h1 class="page-intro__heading">All Meetups</h1>
                <p class="page-intro__description">Catch up on the previous Craft CMS Manchester meetups.</p>
            </div>
        </header>

        <div class="page-content page-content--home">
            <div class="container">
                <ul class="meetups-list meetups-list--focal">
                    {% for meetup in previousMeetups %}
                        {% set meetupVenue = meetup.meetupVenue.first() %}
                        <li class="meetups-list__item">
                            <div class="meetup-preview">
                                <h3 class="meetup-preview__heading">{{ meetup.title }}</h3>
                                <p class="meetup-preview__description">{{ meetup.meetupShortDescription }}</p>
                                <hr class="hr hr--sm">
                                <ul class="meetup-details">
                                    <li><span class="icon ion-ios-calendar-outline"></span> {{ meetup.meetupDate }}</li>
                                    {% if meetupVenue|length %}
                                        <li><span class="icon ion-ios-location-outline"></span> {{ meetupVenue.title }}</li>
                                    {% endif %}
                                </ul>
                                {% if meetup.meetupTakenPlace == true %}
                                    <a href="{{ meetup.url }}" class="btn btn--sm btn--default">Read the recap &rarr;</a>
                                {% else %}
                                    <a href="{{ meetup.url }}" class="btn btn--sm btn--default">Find out more &rarr;</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </article>

{% endblock %}
