{% extends "_layouts/master" %}

{% set headerHidden = true %}

{% set currentVenue = generalSettings.meetupVenue.first() %}
{% set nextMeetup = entry.nextMeetup.first() %}
{% set previousMeetups = craft.entries.section('meetups').search('meetupTakenPlace:1') %}

{% block content %}
    <article>
        <header class="page-intro page-intro--home">
            <div class="container">
                <h1 class="page-intro__heading">Craft CMS Manchester</h1>
                <p class="page-intro__description">A bi-monthly Craft CMS Meetup {{ (currentVenue|length) ? 'at ' ~ currentVenue.title : 'in Manchester' }}.</p>
            </div>
        </header>
        <div class="page-content page-content--home">
            <div class="container">

                {% if nextMeetup|length %}
                    {% set nextMeetupVenue = nextMeetup.meetupVenue.first() %}
                    <div class="next-meetup-preview">
                        <article class="meetup">
                            <div class="meetup__img">
                                <img src="{{ url('/img/venues/rise.jpeg') }}" alt="{{ nextMeetupVenue.title }}">
                            </div>
                            <h2 class="section-label">Next Meetup</h2>
                            <div class="meetup__date">{{ nextMeetup.meetupDate }}</div>
                            <h3 class="meetup__title">{{ nextMeetup.title }}</h3>
                            {{ nextMeetup.meetupDescription }}
                            <hr class="hr hr--sm">
                            <ul class="meetup-details">
                                {% if nextMeetupVenue|length %}
                                    <li><span class="icon ion-ios-location-outline"></span> {{ nextMeetupVenue.title }} ({{ nextMeetupVenue.venueAddress }}) <a href="{{ nextMeetupVenue.venueMapUrl }}" rel="nofollow" target="_blank" class="btn btn--xs"><span class="icon ion-map"></span> View Map</a></li>
                                {% endif %}
                                <li><span class="icon ion-ios-calendar-outline"></span> {{ nextMeetup.meetupDate }}</li>
                                <li><span class="icon ion-ios-clock-outline"></span> {{ nextMeetup.meetupTime }}</li>
                            </ul>
                            <ul class="inline-btns">
                                <li class="inline-btns__item">
                                    {% if nextMeetup.meetupComLink|length %}
                                        <a href="{{ nextMeetup.meetupComLink }}" rel="nofollow" target="_blank" class="btn btn--md btn--action">RSVP on Meetup.com</a>
                                    {% else %}
                                        <a href="https://www.meetup.com/craftcmsmanchester" rel="nofollow" target="_blank" class="btn btn--md btn--action">Join on Meetup.com</a>
                                    {% endif %}
                                </li>
                                {% if nextMeetup.meetupDocUrl|length %}
                                    <li class="inline-btns__item"><a href="{{ nextMeetup.meetupDocUrl }}" rel="nofollow" target="_blank" class="btn btn--default">Contribute</a></li>
                                {% endif %}
                            </ul>
                        </article>
                    </div>
                {% endif %}

                {% if previousMeetups|length %}
                    <section class="section">
                        <h2 class="section-label">Previous Meetups</h2>
                        <ul class="meetups-list">
                            {% for meetup in previousMeetups %}
                                <li class="meetups-list__item">
                                    {% include 'meetups/_components/meetup-preview' ignore missing with { meetup: meetup } only %}
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

            </div>
        </div>
    </article>
{% endblock %}
